<div style="max-width: 400px; margin: 0 auto;" class="mb-3">
  <h1 id="form-title" class="text-center text-muted m-2">Add new Food to Recipe</h1>
  <%= form_with(model: [@recipe_food], url: recipe_foods_path) do |form| %>
    <div class="justify-content-center gap-2">
      <div class="col-md-4">
        <%= form.hidden_field :recipe_id, value: @recipe_id %>
      </div>
      <div class="col-md-7">
        <div class="mb-3">
          <%= form.label :name, class: "form-label" %>
          <%= form.collection_select(:food_id, Food.all, :id, :name, { prompt: "Select a Food" }, { class: "form-select" }) %>
        </div>
      </div>
      <div class="col-md-5">
        <div class="mb-3">
          <%= form.label :quantity, class: "form-label" %>
          <%= form.number_field :quantity, autofocus: true, autocomplete: "quantity", placeholder: "Quantity", class: "form-control" %>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <%= form.submit 'Add Food to Recipe', class: "btn btn-primary mt-3" %>
      </div>
    </div>
  <% end %>
</div>
